unpackaged/flows/PredictProbability.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Prediction</name>
        <label>Get Prediction</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>RandomNumbers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Load_Current_Lead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <outputParameters>
            <assignToReference>prediction</assignToReference>
            <name>predictionValue</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Input_to_Record_Value</name>
        <label>Assign Input to Record Value</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Load_Current_Lead.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedRating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Rating_on_Lead</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CalculatedRating</name>
        <dataType>String</dataType>
        <expression>IF( {!prediction} &gt; 0.7 , &apos;Hot&apos;, IF( {!prediction} &lt; 0.7 &amp;&amp; {!prediction} &gt; 0.4, &apos;Warm&apos;, &apos;Cold&apos;) )</expression>
    </formulas>
    <interviewLabel>PredictProbability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PredictProbability</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Load_Current_Lead</name>
        <label>Load Current Lead</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Input_to_Record_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Store_Rating_on_Lead</name>
        <label>Store Rating on Lead</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputReference>Load_Current_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayPrediction</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿Prediction&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!prediction}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Rating&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!CalculatedRating}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prediction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>prediction</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.01</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
